/* css styles */
body {
  background-image: url('bk2.gif');
  background-size: cover;  /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* Fixed or scroll, depending on your preference */
}
